<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- GENERAL SETTINGS -->
        <meta charset="utf-8">
        <base href="{{global-baseUrl}}" />

        <!-- META TAGS -->
        <title>{{head-title}} | {{global-appName}}</title>
        <meta name="description" content="{{head-description}}">

        <!-- STATIC ASSESTS -->
        <link type="image/x-icon" rel="icon" href="favicon.ico">
        <script src="public/app.js"></script>
        <link rel="stylesheet" type="text/css" href="public/app.css" />
    </head>

    <body class="{{body-class}}">
        <!-- PAGE WRAPPER -->
        <div class="wrapper">
            <!-- HEADER -->
            <div class="header">
                <!-- LOGO -->
                <a class="logo" href="/">
                    <img src="public/logo.png" alt="Logo">
                </a>
                <!-- NAVIGATION -->
                <ul class="menu">
                    <li><a href="/">Home</a></li>
                    <li class="loggedOut"><a href="/account/create">Signup</a></li>
                    <li class="loggedOut"><a href="/session/create">Login</a></li>
                    <li class="loggedIn"><a href="/checks/all">Dashboard</a></li>
                    <li class="loggedIn"><a href="/account/edit">Account Settings</a></li>
                    <li class="loggedIn"><a href="#" id="loggedOutButton">Logout</a></li>
                </ul>

            </div>

            <!-- PAGE SPECIFIC CONTENT -->
            <div class="content">
